!monokai
*background: #1c1c1c
*foreground: #d0d0d0
*cursorColor: #d0d0d0
*color0: #101010
*color1: #960050
*color2: #66aa11
*color3: #c47f2c
*color4: #30309b
*color5: #7e40a5
*color6: #3579a8
*color7: #9999aa
*color8: #303030
*color9: #ff0090
*color10: #80ff00
*color11: #ffba68
*color12: #5f5fee
*color13: #bb88dd
*color14: #4eb4fa
*color15: #d0d0d0
!gruvbox
!! hard contrast: *background: #1d2021
!*background: #282828
!! #282828
!! soft contrast: *background: #32302f
!*foreground: #ebdbb2
!! Black + DarkGrey
!*color0:  #282828
!*color8:  #928374
!! DarkRed + Red
!*color1:  #cc241d
!*color9:  #fb4934
!! DarkGreen + Green
!*color2:  #98971a
!*color10: #4df258
!! DarkYellow + Yellow
!*color3:  #fabd2f
!*color11: #fabd2f
!! DarkBlue + Blue
!*color4:  #458588
!*color12: #83a598
!! DarkMagenta + Magenta
!*color5:  #b16286
!*color13: #d3869b
!! DarkCyan + Cyan
!*color6:  #689d6a
!*color14: #8ec07c
!! LightGrey + White
!*color7:  #a89984
!*color15: #ebdbb2


URxvt.perl-ext-common: font-size,keyboard-select
URxvt.scrollBar: false
URxvt.font: xft:Monospace:pixelsize=15:antialias=true:hinting=true:semibold
URxvt.boldFont: xft:Monospace:pixelsize=15:antialias=true:hinting=true:bold
URxvt.letterSpace: -1

!URxvt.transparent: true
!URxvt.shading: 20

URxvt.depth: 32
URxvt.background: rgba:1c00/1c00/1c00/F000
!00F6 is 'ö'
URxvt.keysym.A-00F6: perl:keyboard-select:activate
URxvt.keyboard-select.clipboard: true
