set keymap vi-command
"v": ""
"k":history-search-backward
"j":history-search-forward
# because sometimes I don't release CTRL fast enough
"\C-k":history-search-backward
"\C-j":history-search-forward
"\C-d": ""

set editing-mode vi
"\C- ":vi-movement-mode
"\C-l":clear-screen
"\C-p": ""
"\C-k": ""

set show-mode-in-prompt
set vi-ins-mode-string \1\e[0 q\2
set vi-cmd-mode-string \1\e[3 q\2

set colored-stats On
#set show-all-if-ambiguous On
#set show-all-if-unmodified On
